- when using shadcn to install packages, use 'shadcn' instade of 'shadcn-ui'
- go through the whole codebase and understand it when necessary
- always avoid breaking critical stuff like authentication, protected pages, rules and project structure, be extra careful about this
- consider the .env file exist but you dont see it (you can validate the .env file structure using .env.example)- check the logs to know what's going on
- understand the current db schema in supabase. the query used to create the table is under the supabase directory. READ IT!
- the database schema will never change, you need to find a solution without modifying supabase config or settings.
